.display {
  width: 100%;
  height: 250px;
  border: 1px solid rgb(var(--color-border));
  background-color: rgb(var(--color-main));
  border-radius: 4px;
  position: relative;
  display: flex;

  &--grow {
    height: auto;
  }
}

.reset {
  position: absolute;
  top: 10px;
  right: 10px;
}