$sizes: (
  small: 16px,
  medium: 20px,
  large: 24px,
);

.radio {
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover .radio__box {
    border-color: c(text);
    background-color: c(text, .05);

    &--checked {
      background-color: c(text, .20);
    }

    &:after {
      background-color: c(text, .20);
    }

    &--checked:after {
      background-color: c(text, .6);
    }
  }

  .label {
    margin-left: 8px;
    user-select: none;
    cursor: pointer;
  }

  &--default {
    .radio__box {
      border: 1px solid c(text);
    }

    .radio__box--checked:after {
      background-color: c(text);
    }
  }

  @each $size, $value in $sizes {
    &--#{$size} {
      .radio__box {
        height: $value;
        width: $value;
      }
    }
  }

  .radio__box {
    border-radius: 50%;
    cursor: pointer;
    transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 60%;
      height: 60%;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    }
  }

  input {
    opacity: 0;
    position: absolute;
    height: 0;
    width: 0;

    &:focus-visible + .radio__box {
      outline: none;
      border-color: c(border-primary) !important;
    }
  }
}