$colors: ("success", "warning", "danger", "primary", "info");
$types: (
  h1: (font-size: t(font-size-h-1), font-weight: 700, line-height: 1.2),
  h2: (font-size: t(font-size-h-2), font-weight: 700, line-height: 1.2),
  h3: (font-size: t(font-size-h-3), font-weight: 600, line-height: 1.2),
  h4: (font-size: t(font-size-h-4), font-weight: 600, line-height: 1.2),
  h5: (font-size: t(font-size-h-5), font-weight: 500, line-height: 1.2),
  h6: (font-size: t(font-size-h-6), font-weight: 500, line-height: 1.2),
  text-xs: (font-size: t(font-size-xs)),
  text-sm: (font-size: t(font-size-sm)),
  text-md: (font-size: t(font-size-md)),
  text-lg: (font-size: t(font-size-lg)),
  text-xl: (font-size: t(font-size-xl)),
);

.text {
  line-height: 1.2;

  /* Variants */

  &--variant-default {
    color: c(text);
  }

  &--variant-secondary {
    color: c(text-contrast);
  }

  @each $color in $colors {
    &--variant-#{$color} {
      color: c(text-#{$color});
    }
  }

  /* Types */

  @each $type, $props in $types {
    &--type-#{$type} {
      @each $prop, $value in $props {
        #{$prop}: $value;
      }
    }
  }

  /* Weight */

  &--weight-light {
    font-weight: 300;
  }

  &--weight-normal {
    font-weight: 400;
  }

  &--weight-bold {
    font-weight: 700;
  }
}