.skeleton {
  background-color: c(main-contrast, .4);
  animation: pulse 1s infinite linear;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}