.activity-chart__labels {
  &--day {
    height: calc(7 * 11px + 6 * 3px);
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    justify-items: flex-end;

    .label__align {
      justify-content: flex-end;
      text-align: right;
    }
  }

  &--month {
    height: fit-content;
    gap: 3px;
    display: grid;

    .label {
      justify-content: flex-start;
      text-align: left;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: block;
      width: fit-content;
    }
  }
}