.selector {
  position: relative;
  width: 100%;
  height: 100%;
}

.selector__selection {
  position: absolute;

  &--active {
    border: 1px solid rgb(var(--selector-color));
    background: rgba(var(--selector-color), 0.1);
  }
}