.selector {
  position: relative;
  width: 100%;
  height: 100%;
}

.selector__selection {
  position: absolute;

  &--active {
    border: 1px solid #1163a2;
    background: rgba(#1163a2, 0.1);
  }
}