$sizes: (
  small: (height: 12, width: 12),
  medium: (height: 15, width: 16),
  large: (height: 17, width: 18),
  x-large: (height: 32, width: 32),
);

.close-button {
  background-color: transparent;
  border: none;
  color: currentColor;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  @each $size, $properties in $sizes {
    &--#{$size} {
      height: map-get($properties, height) * 1px;
      width: map-get($properties, width) * 1px;
    }
  }

  &--default {
    border-radius: 50%;
    background-color: c(main-contrast, .2);
  }

  &:hover {
    opacity: .8;
  }
}