$sizes: (
  small: (height: 16px, font-size: t(font-size-xs), padding: t(padding-xs)),
  large: (height: 20px, font-size: t(font-size-sm), padding: t(padding-sm)),
);

$colors: ("success", "warning", "danger", "primary", "info");

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: t(padding-sm);
  font-weight: 500;
  color: c(text);
  width: fit-content;

  /* Sizes */

  @each $size, $size-props in $sizes {
    &--size-#{$size} {
      height: map-get($size-props, height);
      font-size: map-get($size-props, font-size);
      padding: 0 map-get($size-props, padding);
    }
  }

  /* Variants */

  &--variant-default {
    background-color: c(main);
    border: 1px solid c(border);
    color: c(text-contrast);
  }

  &--variant-secondary {
    background-color: c(main-contrast, .5);
    border: 1px solid c(border);
  }

  @each $color in $colors {
    &--variant-#{$color} {
      background-color: c(#{$color}, t(constant-background-alpha));
      border: 1px solid c(#{$color}, .25);
      color: c(text-#{$color});
    }
  }

  &--clickable {
    cursor: pointer;

    &:hover {
      opacity: .8;
    }
  }

  /* Shapes */

  &--shape-default {
    border-radius: t(border-radius-sm);
  }

  &--shape-pill {
    border-radius: 20px;
  }
}