$sizes: (
  small: (padding: t(padding-xxs) t(padding-xs), font-size: t(font-size-xs), padding-pill: t(padding-xxs) t(padding-md)),
  medium: (padding: t(padding-xxs) t(padding-xs), font-size: t(font-size-sm), padding-pill: t(padding-xxs) t(padding-sm)),
  large: (padding: t(padding-xxs) t(padding-sm), font-size: t(font-size-md), padding-pill: t(padding-xxs) t(padding-md)),
);

$variants: (
  secondary: 'text',
  primary: 'primary',
  warning: 'warning',
  danger: 'danger',
  success: 'success',
  info: 'info',
);

.badge {
  font-weight: 600;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: t(padding-sm);
  width: max-content;

  &--action {
    cursor: pointer;

    &:hover {
      opacity: .8;
    }
  }

  @each $size, $properties in $sizes {
    &--#{$size} {
      padding: map-get($properties, padding);
      font-size: map-get($properties, font-size);
      border-radius: t(border-radius-sm);

      &.badge--pill {
        padding: map-get($properties, padding-pill);
      }
    }
  }

  @each $variant, $color in $variants {
    &--#{$variant} {
      border: 1px solid c($color);
    }
  }

  &--ghost {
    background-color: transparent;
    color: c(text);
    border: 1px solid transparent;
  }

  &--default {
    color: c(text);
    border: 1px solid c(border);
  }

  &--pill {
    border-radius: 25px;
  }
}