$sizes: (
  small: (height: 16px, font-size: t(font-size-xs), padding: t(padding-xs)),
  large: (height: 20px, font-size: t(font-size-sm), padding: t(padding-sm)),
);

$states: (
  info: "info",
  primary: "primary",
  success: "success",
  warning: "warning",
  danger: "danger",
);

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: t(padding-sm);
  font-weight: 500;
  color: c(text);
  width: fit-content;

  /* Sizes */

  @each $size, $size-props in $sizes {
    &--size-#{$size} {
      height: map-get($size-props, height);
      font-size: map-get($size-props, font-size);
      padding: 0 map-get($size-props, padding);
    }
  }

  /* States */

  &--state-default {
    background-color: c(main);
    border: 1px solid c(border);
    color: c(text-contrast);
  }

  &--state-secondary {
    background-color: c(main-contrast, .5);
    border: 1px solid c(border);
  }

  @each $state, $state-props in $states {
    &--state-#{$state} {
      background-color: c(#{$state-props}, t(constant-background-alpha));
      border: 1px solid c(#{$state-props}, .25);
      color: c(text-#{$state-props});
    }
  }

  &--clickable {
    cursor: pointer;

    &:hover {
      opacity: .8;
    }
  }

  /* Shapes */

  &--shape-default {
    border-radius: t(border-radius-sm);
  }

  &--shape-pill {
    border-radius: 20px;
  }
}