$sizes: (
  small: ( padding: t(padding-xxs) t(padding-xs), font-size: t(font-size-xs) ),
  medium: ( padding: t(padding-xxs) t(padding-xs), font-size: t(font-size-sm) ),
  large: ( padding: t(padding-xxs) t(padding-sm), font-size: t(font-size-md) ),
);

$variants: (
  ghost: ( background-color: transparent, color: c(text) ),
  default: ( background-color: c(main), color: c(text), border: 1px solid c(border) ),
  secondary: ( background-color: c(main-contrast, .5), color: c(text) ),
  primary: ( background-color: c(primary, .1), color: c(primary) ),
  warning: ( background-color: c(warning, .1), color: c(warning) ),
  danger: ( background-color: c(danger, .1), color: c(danger) ),
  success: ( background-color: c(success, .1), color: c(success) ),
  info: ( background-color: c(info, .1), color: c(info) ),
);

.badge {
  font-weight: 600;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: t(padding-xs);
  width: max-content;

  &--action {
    cursor: pointer;
    &:hover {
      opacity: .8;
    }
  }

  @each $size, $properties in $sizes {
    &--#{$size} {
      padding: map-get($properties, padding);
      font-size: map-get($properties, font-size);
      border-radius: t(border-radius-sm);
    }
  }

  @each $variant, $properties in $variants {
    &--#{$variant} {
      background-color: map-get($properties, background-color);
      color: map-get($properties, color);
      border: map-get($properties, border);
    }
  }

  &--pill {
    border-radius: 25px;
  }
}