:root {
  --color-main: 9, 9, 11;
  --color-main-light: 39, 39, 42;
  --color-border: 39, 39, 42;
  --color-border-light: 39, 39, 42, 0.7;
  --color-border-primary: 0, 119, 255;
  --color-text: 255, 255, 255;
  --color-text-light: 255, 255, 255, 0.7;
}

.light {
  --color-main: 255, 255, 255;
  --color-main-light: 230, 230, 230;
  --color-border: 220, 220, 220;
  --color-border-light: 220, 220, 220, 0.7;
  --color-border-primary: 0, 119, 255;
  --color-text: 0, 0, 0;
  --color-text-light: 0, 0, 0, 0.6;
}