$levels: 6;

.content__table {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: c(text);

  .title {
    font-size: 16px;
    font-weight: 600;
  }

  .list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 4px;

    .list__item a {
      font-size: 14px;
      font-weight: 400;
      color: c(text-contrast);
      transition: color 0.2s ease-in-out;
      text-decoration: none;

      &:hover {
        color: c(text);
      }
    }

    .list__item {
      &.active {
        a {
          color: c(text);
          text-decoration: underline;
        }
      }

      @for $i from 1 through $levels {
        &--level-#{$i} {
          padding-left: #{($i - 1) * 10}px;
        }
      }
    }
  }
}