.breadcrumb {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumb__item {
  font-size: 13px;
  color: c(text-contrast);
  text-decoration: none;
  display: flex;
  align-items: center;

  &:not(.active):after {
    content: '/';
    margin-left: 8px;
    margin-right: 8px;
    color: c(text-contrast);
  }

  &.active {
    color: c(text);
  }
}