.resize-handle-border {
  position: absolute;
  background: transparent;
  border-radius: 3px;
  user-select: none;
  transition: background 0.1s;

  --offset-short: 4px;
  --offset-long: 0px;

  --long: calc(100% - calc(var(--offset-long) * 2));
  --short: 7px;

  &:hover, &:active {
    background: rgba(var(--frame-color), 0.25);
  }

  &[data-handle-postion="top"] {
    top: calc(var(--offset-short) * -1);
    left: var(--offset-long);

    width: var(--long);
    height: var(--short);

    cursor: n-resize;
  }

  &[data-handle-postion="right"] {
    top: var(--offset-long);
    right: calc(var(--offset-short) * -1);

    width: var(--short);
    height: var(--long);
    cursor: e-resize;
  }

  &[data-handle-postion="bottom"] {
    bottom: calc(var(--offset-short) * -1);
    left: var(--offset-long);

    width: var(--long);
    height: var(--short);
    cursor: s-resize;
  }

  &[data-handle-postion="left"] {
    top: var(--offset-long);
    left: calc(var(--offset-short) * -1);

    width: var(--short);
    height: var(--long);
    cursor: w-resize;
  }
}

.resize-handle-corner {
  --size: 7px;
  --offset: 4px;

  position: absolute;
  z-index: 1;
  background: white;
  border: 1px solid rgb(var(--frame-color));
  user-select: none;
  outline: 3px solid transparent;
  transition: outline 0.1s;

  &:hover, &:active {
    outline: 2px solid rgba(var(--frame-color), .25);
  }

  &[data-handle-postion="top-left"] {
    top: calc(var(--offset) * -1);
    left: calc(var(--offset) * -1);

    width: var(--size);
    height: var(--size);
    cursor: nw-resize;
  }

  &[data-handle-postion="top-right"] {
    top: calc(var(--offset) * -1);
    right: calc(var(--offset) * -1);

    width: var(--size);
    height: var(--size);
    cursor: ne-resize;
  }

  &[data-handle-postion="bottom-right"] {
    bottom: calc(var(--offset) * -1);
    right: calc(var(--offset) * -1);

    width: var(--size);
    height: var(--size);
    cursor: se-resize;
  }

  &[data-handle-postion="bottom-left"] {
    bottom: calc(var(--offset) * -1);
    left: calc(var(--offset) * -1);

    width: var(--size);
    height: var(--size);
    cursor: sw-resize;
  }
}