.tooltip {
  border-radius: t(border-radius-sm);
  font-size: t(font-size-sm);
  color: c(text);
  padding: t(padding-xs) t(padding-sm);
  max-width: 200px;
  width: 100%;

  &--default {
    background: c(main-contrast, .5);
  }

  &--secondary {
    background: c(main);
    border: 1px solid c(border);
  }
}