.keyboard-shortcut {
  height: 16px;
  padding: 0 4px;
  border-radius: 3px;
  background: c(main-contrast);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 10px;
  color: c(text-contrast);
}