.tab,
.tab__pane__container {
  width: 100%;
  height: 100%;

  .tabs--addable.tabs__container--vertical .scroll--right {
    right: 36px;
  }

  .tabs--addable.tabs__container--horizontal .scroll--right {
    bottom: 36px;
  }
}

.tab--contained {
  border: 1px solid c(border);
  border-radius: t(border-radius-sm);
  background-color: c(main);
}

.tabs__container {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.tabs__container--horizontal {
  flex-direction: row;
  width: 100%;

  .tabs__tab__button {
    justify-content: space-between;
    text-align: left;
    width: 100%;

    &_add {
      padding: t(padding-sm) t(padding-md);
      svg {
        margin-left: -4px;
      }
    }
  }

  &.tabs__container--spaced {
    flex-direction: row;
    gap: t(padding-sm);

    > .tabs__tablist {
      border-radius: t(border-radius-sm);
    }
  }

  &.tabs__container--compact {
    > .tabs__tablist {
      border-radius: t(border-radus-sm) 0 0 t(border-radus-sm);
      margin-right: -1px;
    }
  }

  > .tabs__tablist {
    height: fit-content;
    overflow: auto;
    flex-direction: column;
    max-width: 200px;
    max-height: 100%;

    .tabs {
      @include hideScrollbar;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: t(padding-xs);
      overflow: auto;
      width: 100%;
    }

    .scroll--left {
      aspect-ratio: unset;
      background-image: linear-gradient(to top, c(main, 0), c(main, 1));
      top: 0;
      left: 0;
      width: 100%;
      height: 36px;
      padding: 0;
      justify-content: center;
    }

    .scroll--right {
      aspect-ratio: unset;
      background-image: linear-gradient(to bottom, c(main, 0), c(main, 1));
      top: auto;
      bottom: 0;
      width: 100%;
      height: 36px;
      padding: 0;
      justify-content: center;
    }
  }
}

.tabs__container--vertical {
  flex-direction: column;

  > .tabs__tablist {
    max-width: 100%;

    .tabs {
      @include hideScrollbar;

      display: flex;
      flex-direction: row;
      align-items: center;
      overflow: auto;
      gap: t(padding-xs);
    }
  }

  &.tabs__container--spaced {
    flex-direction: column;
    gap: t(padding-sm);

    > .tabs__tablist {
      border-radius: t(border-radius-sm);
    }
  }

  &.tabs__container--compact {
    gap: 0;

    > .tabs__tablist {
      border-radius: t(border-radius-sm) t(border-radius-sm) 0 0;
      margin-bottom: -1px;
    }
  }
}

.tab__container {
  display: none;
  height: 100%;
}

.tabs__tab--active {
  display: block
}

.tabs__tablist {
  display: flex;
  align-items: center;
  padding: t(padding-xs);
  border: 1px solid c(border);
  gap: t(padding-xs);
  min-width: 100px;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.tabs__tab__button {
  border: none;
  background: none;
  padding: t(padding-sm) t(padding-md);
  border-radius: t(border-radius-sm);
  cursor: pointer;
  color: c(text-contrast);
  max-width: 200px;
  font-size: t(font-size-sm);
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: t(padding-xs);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;

  &--active,
  &:hover {
    color: c(text);
    background: c(main-contrast, .5);
  }

  &--disabled {
    cursor: not-allowed;
    opacity: .5;
  }

  &_add {
    padding: t(padding-sm) t(padding-sm);
  }
}

.scroll--left {
  position: absolute;
  background-image: linear-gradient(to left, c(main, 0), c(main, 1));
  aspect-ratio: 2 / 1;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  padding-left: 8px;
}

.scroll--right {
  position: absolute;
  background-image: linear-gradient(to right, c(main, 0), c(main, 1));
  aspect-ratio: 2 / 1;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  padding-right: 8px;
}