.tab,
.tab__pane__container {
  width: 100%;
  height: 100%;
}

.tab--contained {
  border: 1px solid c(border);
  border-radius: t(border-radius-sm);
  background-color: c(main);
}

.tabs__container {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.tabs__container--horizontal {
  flex-direction: row;
  width: 100%;

  .tabs__tab__button {
    justify-content: space-between;
    text-align: left;
    width: 100%;

    &_add {
      padding: t(padding-sm) t(padding-md);
      svg {
        margin-left: -4px;
      }
    }
  }

  &.tabs__container--spaced {
    flex-direction: row;
    gap: t(padding-sm);

    > .tabs__tablist {
      border-radius: t(border-radius-sm);
    }
  }

  &.tabs__container--compact {
    > .tabs__tablist {
      border-radius: t(border-radus-sm) 0 0 t(border-radus-sm);
      margin-right: -1px;
    }
  }

  .tabs__tablist {
    height: fit-content;
    overflow: auto;
    flex-direction: column;
    max-width: 200px;
  }
}

.tabs__container--vertical {
  flex-direction: column;

  &.tabs__container--spaced {
    flex-direction: column;
    gap: t(padding-sm);

    > .tabs__tablist {
      border-radius: t(border-radius-sm);
    }
  }

  &.tabs__container--compact {
    gap: 0;

    > .tabs__tablist {
      border-radius: t(border-radius-sm) t(border-radius-sm) 0 0;
      margin-bottom: -1px;
    }
  }
}

.tab__container {
  display: none;
  height: 100%;
}

.tabs__tab--active {
  display: block
}

.tabs__tablist {
  display: flex;
  align-items: center;
  padding: t(padding-xs);
  border: 1px solid c(border);
  gap: t(padding-xs);
  min-width: 100px;
  overflow: hidden;
  flex-shrink: 0;
}

.tabs__tab__button {
  border: none;
  background: none;
  padding: t(padding-sm) t(padding-md);
  border-radius: t(border-radius-sm);
  cursor: pointer;
  color: c(text-contrast);
  max-width: 200px;
  font-size: t(font-size-sm);
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: t(padding-xs);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &--active,
  &:hover {
    color: c(text);
    background: c(main-contrast, .5);
  }

  &--disabled {
    cursor: not-allowed;
    opacity: .5;
  }

  &_add {
    padding: t(padding-sm) t(padding-sm);
  }
}