.loader {
  display: flex;
  gap: t(padding-md);
  align-items: center;
  width: max-content;
  color: inherit;

  &--vertical {
    flex-direction: column;
  }

  &--full {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }

  svg {
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}