.search {
  background: rgb(var(--color-main));
  border: 1px solid rgb(var(--color-border));
  border-radius: 3px;
  height: 32px;
  width: 280px;
  padding: 0 8px;
  transition: border-color 0.2s ease-in-out;
  color: rgb(var(--color-text));
  font-size: 12px;
  position: relative;

  &::placeholder {
    font-size: 12px;
    color: rgba(var(--color-text-light));
  }

  &:hover {
    border-color: rgba(var(--color-border-light));
  }

  &:focus {
    outline: none;
    border-color: rgba(var(--color-border-primary));
  }

  &.opened {
    border-radius: 4px 4px 0 0;
  }
}

.search__container {
  position: relative;
  width: min-content;
}

.search__addon {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 23;
}

.search__autocomplete {
  position: absolute;
  top: 100%;
  background: rgb(var(--color-main));
  border-radius: 0 0 4px 4px;
  width: 100%;
  max-height: 300px;
  border: 1px solid rgb(var(--color-border));
  border-top: none;

  &__item_container {
    overflow: auto;
    max-height: 300px;
    margin: -1px;
    width: calc(100% + 2px);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      border-radius: 0 0 4px 4px;
    }
  }

  &__item {
    padding: 8px 12px;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;

    &:focus-visible {
      outline: none;
      border: 1px solid rgb(var(--color-border-primary));
    }

    &:hover {
      background-color: rgba(var(--color-main-light), .2);
    }
  }
}