.search {
  background: c(main);
  border: 1px solid c(border);
  border-radius: 3px;
  height: 32px;
  width: 280px;
  padding: 0 8px;
  transition: border-color 0.2s ease-in-out;
  color: c(text);
  font-size: 12px;
  position: relative;

  &::placeholder {
    font-size: 12px;
    color: c(text-contrast);
  }

  &:hover {
    border-color: c(border-contrast);
  }

  &:focus {
    outline: none;
    border-color: c(border-primary);
  }

  &.opened {
    border-radius: 4px 4px 0 0;
  }
}

.search__container {
  position: relative;
  width: min-content;
}

.search__addon {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 23;
}

.search__autocomplete {
  position: absolute;
  top: 100%;
  background: c(main);
  border-radius: 0 0 4px 4px;
  width: 100%;
  border: 1px solid c(border);
  border-top: none;
  max-height: 200px;
  overflow-y: auto;

  &__item_container {
    overflow: auto;
    max-height: 300px;
    width: 100%;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      border-radius: 0 0 4px 4px;
    }
  }

  &__item {
    padding: 8px 12px;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    border: 1px solid transparent;

    &:focus-visible {
      outline: none;
      border-color: c(border-primary) !important;
    }

    &:hover {
      background-color: c(main-contrast, .2);
    }
  }
}