.main__container {
  padding: 24px 0 24px 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.main__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 24px;
  width: 100%;
  margin-bottom: 24px;
}

.main__grid__group {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.main__grid_item {
  display: flex;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid rgb(var(--color-border));
  background: rgb(var(--color-main));
  color: rgb(var(--color-text));
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: rgb(var(--color-main-light), .2);
  }

  &__header {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: rgb(var(--color-main-light), .2);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
  }

  .item__title {
    font-size: 18px;
    font-weight: 600;
    color: rgb(var(--color-text));
  }

  .item__description {
    font-size: 14px;
    font-weight: 400;
    color: rgb(var(--color-text-light));
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}