.main__container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: t(padding-xl);
  background-image:
    radial-gradient(circle at 50% 50%, rgba(0, 34, 255, 0.1) 0%, transparent 75%, transparent 100%);
}

:global(.light) .main__container {
  background-image:
    radial-gradient(circle at 50% 50%, rgba(0, 34, 255, 0.07) 0%, transparent 75%, transparent 100%);
}

.title {
  font-family: 'Qarkine', sans-serif;
  font-weight: 100;
  text-align: center;
  line-height: 2;
  font-size: 72px;
  position: relative;
  margin-bottom: 40px;

  span {
    font-family: 'Qarkine', sans-serif;
    font-size: 18px;
    position: absolute;
    top: 120px;
    right: 0;
    color: c(text-contrast);
  }
}

.description {
  width: min(50%, 700px);
  text-align: center;
  color: c(text-contrast);
  font-size: t(font-size-lg);
  line-height: 1.5;
}