.transfer__container {
  display: flex;
  flex-direction: row;
  gap: t(padding-md);
  user-select: none;

  &--disabled {
    opacity: .5;
    cursor: not-allowed;

    .transfer__item {
      cursor: not-allowed;
    }
  }
}

.transfer__controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: t(padding-md);
}

.transfer__list {
  display: flex;
  flex-direction: column;
  gap: t(padding-xs);
  padding: t(padding-sm);
  border: 1px solid c(border);
  border-radius: t(border-radius-sm);
  background: c(main);
  min-width: 200px;

  max-height: 200px;
  overflow-y: auto;

  .transfer__item {
    height: 22px;
    font-size: t(font-size-sm);
    color: c(text-contrast);
    padding: 0 t(padding-sm);
    border-radius: t(border-radius-sm);
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    &--selected {
      background: c(main-contrast, .5);
      color: c(text);

      &:hover {
        background: c(main-contrast, .3);
      }
    }

    &:hover {
      cursor: pointer;
      background: c(main-active);
    }

    &:focus-visible {
      outline: 2px solid c(primary, .2);
      border: 1px solid c(primary);
    }
  }
}