.title {
  display: flex;
  align-items: center;
  gap: 8px;

  scroll-margin-top: 80px;

  &--level-2 {
    margin-top: 25px;
  }

  &--level-3 {
    margin-top: 20px;
    margin-bottom: 15px;
  }

  &--level-4 {
    margin-top: 15px;
    margin-bottom: 5px;
  }

  h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
  }

  h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
  }

  h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
  }

  h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
  }
}