$headings: (
  h1: 24px,
  h2: 20px,
  h3: 18px,
  h4: 16px,
  h5: 14px,
  h6: 12px,
);

@mixin heading($level) {
  font-size: map-get($headings, $level);
  font-weight: 600;
  color: rgb(var(--color-text));
  scroll-margin-top: 80px;
}

.heading {
  @each $level, $size in $headings {
    &__#{$level} {
      @include heading($level);
    }
  }
}