.display {
  width: 100%;
  height: 250px;
  border: 1px solid c(border);
  background-color: c(main);
  border-radius: 4px;
  position: relative;
  display: flex;
  overflow: auto;

  &--grow {
    height: auto;
  }
}

.reset {
  position: absolute;
  top: 10px;
  right: 10px;
}