.component__container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 250px;
}

.component__content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;

  .mdx {
    display: flex;
    flex-direction: column;

    h1, h2, h3, h4, h5, h6 {
      scroll-margin-top: 80px;
    }
  }
}

.component__header {
  display: flex;
  gap: 8px;
  flex-direction: column;

  &_title {
    font-size: 30px;
    font-weight: 600;
    color: c(text);
  }
}

.switch__navigation {
  border-top: 1px solid c(border);
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.component__content_table {
  padding: 24px 0;
  position: sticky;
  height: max-content;
  top: 56px;
}