.component__container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 250px;
}

.component__content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;

  .mdx {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.component__header {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  flex-direction: column;

  &_title {
    font-size: 24px;
    font-weight: 600;
    color: rgb(var(--color-text));
  }
}

.switch__navigation {
  border-top: 1px solid rgb(var(--color-border));
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.component__content_table {
  padding: 24px 0;
  position: sticky;
  height: max-content;
  top: 56px;
}