.code {
  display: inline-block;
  padding: 0 4px;
  line-height: 1.4;
  border-radius: 2px;
  font-family: "Fira Code", monospace !important;
  background: c(main-contrast);
  color: c(text-contrast);
}

.code__container {
  margin-top: 10px;
}