.code {
  display: inline-block;
  padding: 0 4px;
  line-height: 1.4;
  border-radius: 2px;
  font-family: "Fira Code", monospace;
  background: rgba(var(--color-main-light));
  color: rgb(var(--color-text-light));
}

.code__block {
  display: block;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgb(var(--color-border));
  font-size: 14px;
  font-family: "Fira Code", monospace !important;
  background: rgba(var(--color-main-light), .2);
  color: rgb(var(--color-text-light));
  width: 100%;
}