.code {
  display: inline-block;
  padding: 0 4px;
  line-height: 1.4;
  border-radius: 2px;
  font-family: "Fira Code", monospace !important;
  background: rgba(var(--color-main-light));
  color: rgb(var(--color-text-light));
}

.code__wrapper {
  position: relative;

  .code__block__expand__wrapper {
    display: flex;
    position: absolute;
    inset: 0;
    background: linear-gradient(transparent, rgba(var(--color-main), .7) 50%);
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 24px;
  }
}

.code__block {
  display: block;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgb(var(--color-border));
  font-size: 14px;
  background: rgba(var(--color-main-light), .2);
  color: rgb(var(--color-text-light));
  width: 100%;
  font-family: "Fira Code", monospace !important;

  &:not(.code__block_expanded) {
    max-height: 200px;
    overflow: hidden;
    position: relative;
  }

  .code__block_expanded {
    max-height: unset;
    overflow: unset;
  }

  * {
    font-family: "Fira Code", monospace !important;
  }
}