@import "../../style/input";

$states: (
  default: ( border-color: c(border), border-color-hover: c(border-contrast), border-color-focus: c(border-primary) ),
  error: ( border-color: c(danger), border-color-hover: c(danger, .8), border-color-focus: c(danger) ),
  success: ( border-color: c(success), border-color-hover: c(success, .8), border-color-focus: c(success) ),
  warning: ( border-color: c(warning), border-color-hover: c(warning, .8), border-color-focus: c(warning) ),
);

.textarea {
  padding: calc(#{t(padding-md)} * 0.75) t(padding-md);
  @include input();

  @each $state, $props in $states {
    &--#{$state} {
      border-color: map-get($props, border-color);
      &:hover {
        border-color: map-get($props, border-color-hover);
      }
      &:focus {
        border-color: map-get($props, border-color-focus);
      }
    }
  }
}