.interpolation-path {
  stroke: rgba(var(--path-color), .5);
}

.interpolation-handle {
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(45deg);
  cursor: grab;

  fill: white;
  stroke: rgb(var(--path-color));
  stroke-width: 1;
}