.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.main__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-grow: 1;
  overflow: hidden;
  padding: 24px 0 24px 24px;
}

.main__grid {
  display: grid;
  grid-template-columns: repeat(3, calc(33% - 12.5px));
  grid-template-rows: 1fr;
  gap: 24px;
  margin-bottom: 24px;
}

.main__grid__group {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}

.main__grid_item {
  display: flex;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid c(border);
  background: c(main);
  color: c(text);
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: c(main-contrast, .2);
  }

  &__header {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: c(main-contrast, .2);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
  }

  .item__title {
    font-size: 18px;
    font-weight: 600;
    color: c(text);
  }

  .item__description {
    font-size: 14px;
    font-weight: 400;
    color: c(text-contrast);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}