.base__code {
  display: none;
}

:global(.light) .code__block {
  color: #4b4b51;
}

.code__wrapper {
  position: relative;
  width: 100%;
  overflow: auto;
  border-radius: 4px;
  border: 1px solid c(border);

  .code__block__expand__wrapper {
    display: flex;
    position: absolute;
    inset: 0;
    background: linear-gradient(transparent, c(main, .7) 50%);
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 24px;
  }

  &:not(.code__block_expanded) {
    max-height: 200px;
    overflow: hidden;
    position: relative;
  }
}

.code__block {
  display: block;
  padding: 10px 0;
  font-size: 14px;
  background: c(main-contrast, .2);
  width: 100%;
  font-family: "Fira Code", monospace !important;
  color: c(text);

  .code__block_expanded {
    max-height: unset;
    overflow: unset;
  }

  * {
    font-family: "Fira Code", monospace !important;
  }
}

.code__block__line {
  height: 20px;
  align-items: center;
  padding: 2px 10px;
}

.code__block__line__highlighted {
  background: c(main-contrast, .5);
}