:root {
  --code-color-base: rgb(var(--color-text));
  --code-color-secondary: rgb(var(--color-text-light));
  --code-color-primary: #a5d6ff;
}

.light {
  --code-color-base: #2b4659;
  --code-color-secondary: #203d7e;
  --code-color-primary: #235db9;
}


.hljs {
  color: var(--code-color-base);
  background: rgba(var(--color-main-light), .2)
}

.hljs-doctag, .hljs-keyword, .hljs-meta .hljs-keyword, .hljs-template-tag, .hljs-template-variable, .hljs-type, .hljs-variable.language_ {
  color: var(--code-color-secondary);
}

.hljs-title, .hljs-title.class_, .hljs-title.class_.inherited__, .hljs-title.function_ {
  color: var(--code-color-base);
  font-weight: 700
}

.hljs-attr, .hljs-attribute, .hljs-literal, .hljs-meta, .hljs-number, .hljs-operator, .hljs-selector-attr, .hljs-selector-class, .hljs-selector-id, .hljs-variable {
  color: var(--code-color-primary)
}

.hljs-meta .hljs-string, .hljs-regexp, .hljs-string {
  color: var(--code-color-primary)
}

.hljs-built_in, .hljs-symbol {
  color: var(--code-color-primary)
}

.hljs-code, .hljs-comment, .hljs-formula {
  color: var(--code-color-secondary)
}

.hljs-tag {
  color: var(--code-color-secondary);
  .hljs-name {
    color: var(--code-color-base);
  }
}

.hljs-quote, .hljs-selector-pseudo, .hljs-selector-tag {
  color: var(--code-color-secondary);
}