.playground__container {
  display: grid;
  grid-template-columns: 240px calc(100% - 240px);
  grid-template-rows: 1fr;
  height: 100%;
}

.playground__content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
}

.playground__sidebar {
  width: 240px;
  min-width: 240px;
  border-right: 1px solid c(border);

  .sidebar__content {
    position: sticky;
    top: 56px;
    padding: 24px 0;
    max-height: calc(100vh - 56px);
    overflow: auto;
    scroll-behavior: smooth;
  }

  .sidebar__group {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .sidebar__group_title {
    font-size: 16px;
    font-weight: 600;
    color: c(text);
  }

  .sidebar__group_item {
    list-style: none;
    font-size: 14px;
    display: flex;
    gap: 8px;
    align-items: center;

    .todo {
      opacity: 0.4;
      cursor: not-allowed;
      user-select: none;
    }

    a {
      color: c(text-contrast);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .active {
      color: c(text);
      text-decoration: underline;
    }
  }

  .sidebar__group_items {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}