.playground__container {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 1fr;
  height: 100%;
}

.playground__content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
}

.playground__sidebar {
  width: 240px;
  min-width: 240px;
  border-right: 1px solid rgb(var(--color-border));
  padding: 24px 0;

  .sidebar__content {
    position: sticky;
    top: 80px;
  }

  .sidebar__group {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .sidebar__group_title {
    font-size: 16px;
    font-weight: 600;
    color: rgb(var(--color-text));
  }

  .sidebar__group_item {
    list-style: none;
    font-size: 14px;
    display: flex;
    gap: 8px;
    align-items: center;

    a {
      color: rgb(var(--color-text-light));
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .active {
      color: rgb(var(--color-text));
      text-decoration: underline;
    }
  }

  .sidebar__group_items {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}