.features__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.features__list {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 12px;
  list-style: none;
}

.features__item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  color: c(text-contrast);
}

.features__icon {
  min-width: 32px;
  min-height: 32px;
  border-radius: 50%;
  background-color: c(primary, .1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: c(primary);
}