.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-color: c(main);
  color: c(text);
}

.layout__content {
  flex-grow: 1;
  display: flex;
}

.layout__header__container {
  height: 56px;
  border-bottom: 1px solid c(border);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: c(text);
  position: sticky;
  top: 0;
  z-index: 1;

  background: c(main, .80);
  backdrop-filter: blur(5px);
}

.layout__header__nav {
  display: flex;
  align-items: center;
  gap: 24px;
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;

  &__links {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 3px;
  }

  &__link {
    color: c(text-contrast);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: c(main-contrast, .2);
    }

    &.active {
      color: rgb(var(--color-text));
      background-color: c(main-contrast, .2);
    }
  }
}

.layout__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;

  .logo {
    height: 16px;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.layout__footer__container {
  height: 80px;
  border-top: 1px solid c(border);
  display: flex;
  align-items: center;
}

.layout__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: c(text-contrast);
  width: 100%;
}