$sizes: (
  small: ( height: 24px, padding: 0 t(padding-sm), font-size: t(font-size-xt) ),
  medium: ( height: 32px, padding: 0 t(padding-md), font-size: t(font-size-sm) ),
  large: ( height: 40px, padding: 0 t(padding-lg), font-size: t(font-size-md) ),
);

@mixin input($size: null) {
  appearance: none;
  border-radius: t(border-radius-sm);
  background: c(main);
  border: 1px solid c(border);
  color: c(text);
  caret-color: c(text);
  outline: none;
  transition: border-color 0.2s ease-in-out;
  font-size: t(font-size-sm);
  min-width: 250px;

  @if $size != null {
    height: map-get(map-get($sizes, $size), height);
    padding: map-get(map-get($sizes, $size), padding);
  } @else {
    @each $size, $value in $sizes {
      &--#{$size} {
        height: map-get($value, height);
        padding: map-get($value, padding);
      }
    }
  }

  &:hover {
    border-color: c(border-contrast);
  }

  &:focus {
    border-color: c(border-primary);
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}