@import "../../style/input";

.search {
  @include input("medium");
}

.search__container {
  position: relative;
  width: min-content;
}

.search__addon {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 23;
}

.search__autocomplete__container {
  position: absolute;
  top: calc(100% + t(padding-xs));
  border-radius: t(border-radius-sm);
  width: 100%;
  border: 1px solid c(border);
  background: c(main);
  overflow: auto;
  max-height: 275px;
  z-index: 1;
}

.search__autocomplete__item {
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  color: c(text);
  text-decoration: none;
  font-size: 12px;
  width: 100%;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  gap: t(padding-sm);
  padding: t(padding-sm) t(padding-md);

  &:focus {
    outline: none;
    background: c(main-contrast, .2);
  }

  &:hover {
    background: c(main-contrast, .2);
  }
}