.example__controls {
  border-radius: 4px;
  border: 1px solid c(border);
  background-color: c(main-contrast, .2);
  margin-top: 12px;
  padding: 12px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  grid-gap: 12px;
}

.example__controls__label {
  font-size: 12px;
  color: c(text-contrast);
  margin-bottom: 4px;
}

.example__controls__item {
  display: flex;
  flex-direction: column;

  .control {
    display: flex;
    align-items: center;
    height: 100%;
  }
}