.switch-button {
  height: 80px;
  width: 280px;
  border-radius: 4px;
  border: 1px solid c(border);
  background: none;
  color: c(text);
  text-decoration: none;

  text-align: left;
  padding: 15px 20px;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {
    transition: transform .2s ease-in-out;
  }

  &:hover svg {
    transform: translateX(5px);
  }

  &--align-right {
    .content {
      text-align: right;
    }

    &:hover svg {
      transform: translateX(-5px);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &[disabled] {
    opacity: 0.5;
  }

  &:hover {
    cursor: pointer;
    background: c(text-contrast, .2);
  }

  .title {
    font-size: 12px;
    font-weight: 400;
    color: c(text-contrast);
  }

  .component {
    font-size: 16px;
    font-weight: 600;
  }

  &.disabled {
    opacity: 0.75;
    cursor: not-allowed;
  }
}