$sizes: (
  small: 'sm',
  medium: 'md',
  large: 'lg',
);

.breadcrumb {
  display: flex;
  flex-wrap: wrap;

  @each $size, $value in $sizes {
    &--#{$size} .breadcrumb__item {
      font-size: t(font-size-#{$value});
    }
  }
}

.breadcrumb__item {
  color: c(text-contrast);
  text-decoration: none;
  display: flex;
  align-items: center;

  &:not(.active):after {
    content: '/';
    margin-left: 8px;
    margin-right: 8px;
    color: c(text-contrast);
  }

  &.active {
    color: c(text);
  }
}