.example__controls__select {
  background: c(main);
  border: 1px solid c(border);
  border-radius: 3px;
  height: 32px;
  width: 100%;
  padding: 0 8px;
  color: c(text);
  caret-color: c(text);

  &:focus {
    outline: none;
    border-color: c(border-primary);
  }

  &::-ms-expand {
    display: none;
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 c(text);
  }
}

.checkbox__wrapper {
  height: 32px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 0 4px;
  border: 1px solid c(border);
  background: c(main);
  width: 100%;
}