.frame-selector {
  --frame-color: 19, 132, 225;
  --frame-border-width: 1px;
  --frame-border-style: solid;

  position: relative;

  width: var(--width);
  height: var(--height);

  --border: var(--frame-border-width) var(--frame-border-style) rgb(var(--frame-color));
  border: var(--border);
}